  <div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.body %>:</strong>
          <%= comment.body %>
        </p>
      </div>
    </div>
     <%= link_to 'Delete', [comment.lecture],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
  </article>
</div>
